<% include ../partials/header %>
<a href="/users">Back home</a>
<h1> Search Page </h1>

<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-body">
<form action ="/searchresults" >
<span>Search for a user </span>
<input type = 'text' name = "searchresults">
<button type = "submit" value = "search">Search</button>
</form>
</div>
</div>
</div>


<% include ../partials/footer %>