<% include ../partials/header %>
<form action="/works/<%= work._id %>?_method=put" method="POST">
	<label for="work[title]">Title (required):
		<input autofocus type="text" name="work[title]" value="<%=work.title%>" id="">
	</label>
	<label for="work[content]">Summary (required):
		<input type="text" name="work[summary]" value="<%=work.content%>" id="">
	</label>

		<input class="btn btn-default" type="submit" id="newwork" value="Edit">
</form>
<button class="btn btn-success"><a href="/works">Return Home</a></button>
<% include ../partials/footer %>