<% include ../partials/header %>
<div id="profile">
<p class="bg-warning"> You're posting as <%= user.firstName %>.</p>
<img width="100px" src="<%= user.avatar %>" alt="profile picture">
</div>
<div id="newwork">
<form action="/works" method="POST">
	<label for="work[title]">Title (required):
		<input autofocus type="text" name="work[title]" id="">
	</label>
	<label for="work[summary]">Summary (required):
		<input type="text" name="work[summary]" id="">
	</label>

	<!-- TODO: Add user on submission of work -->
		<input class="btn btn-default" type="submit" value="Submit">
</form>
</div>
 <a class="btn btn-default" href="/logout">Logout</a>
<button class="btn btn-success"><a href="/works">Return Home</a></button>
<% include ../partials/footer %>